.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store

drafts/*
homework/*.pdf
homework_keys/*
lab/*.pdf
lab/working_directory_demo.Rmd
lab_keys/*
lecture_drafts/*
lecture_recordings/*
miscellaneous/*
paperwork/*
scripts/*